<h1><%= @user.email %></h1>
<div class="images" id="post_section">
        <% @images.each do |image| %>
            <div class="post">
                    <div>
                        <img class="post-image" src="<%= image.link %>">
                    </div>
                    <p class="post-caption"><%= image.caption %></p>
                    <p class="post-caption"><%= image.price %></p>
                    <% if @current_user != @user %>
                    <%= button_to "Purchase", {:controller => :users, 
                    :action => 'purchase_image', params: { id: image.id }  }, :method => :post %>
                    <% end %>
            </div>
        <% end %>
</div>
